body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 100%;
}

#home {
  width: 100%;
  background-size: cover;
}

header {
  padding: 10px 0;
  background: black;
  
}

.container {
  width: 100%;
  margin: 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
  padding: 6px 6px;
}

.title {
  color: #8C0404;
  opacity: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
  float: right;
}

header p {
  padding: 0 20px;
  margin: 0;
  color: #8C0404;
  font-size: 16px;
  font-weight: 600;
  float: right;
}

#enter-btn {
  border: 2px solid #8C0404;
  border-radius: 2px;
  cursor: pointer;
  opacity: 0;
  text-decoration: none;
  float: right;
}

#enter-btn:hover {
  color: black;
  background-color: #8C0404;
  text-decoration: none;

}

#enter-btn:active {
  box-shadow: 2px -1px 9px #000000 inset;
  text-decoration: none;

}


#vidwrap {
  width: 100%;
  z-index: 0;
  background-size: cover;
}

#poster {
  z-index: 2000;
  display: none;
}

#close {
  color: #8C0404;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;      
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid #8C0404;
  margin: auto;
  margin-top: 15px;
  margin-right: 15px;
  right: 0;
  position: absolute;
  z-index: 900;
  opacity: 0; 
 
  }

#close-wrapper {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 3px solid #8C0404;
  margin: auto;
  margin-top: 15px;
  margin-right: 15px;
  right: 0;
  position: absolute;
  z-index: 900;
  opacity: 0; 
}

#close-wrapper: hover {
  cursor: pointer;
  background-color: #8C0404;
}

#close:hover {
  cursor: pointer;
  background-color: #8C0404;
  color: black;
}

#close-wrapper:active {
  cursor: pointer;
  background: #8C0404;
  color: black;
  box-shadow: 2px -1px 9px #000000 inset;
}

#close:active {
  cursor: pointer;
  background: #8C0404;
  color: black;
  box-shadow: 2px -1px 9px #000000 inset;
}

#landingvid (
  position: fixed;
  background-size: cover;
  z-index: 0;
)

.jumbotron {
  display: flex;
  align-items: center;
  background-image: none;
  background-size: cover;
  color: none;
  height: auto;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  background-color: black;
}

#vidcase {
  width: 100%;
  margin-bottom: -5px;
  padding-top: 0;
  padding-bottom: -7px;
  background-color: black;
  background-size: cover;
  
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
  display
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
  background: black;
}

footer p {
  color: white;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
  color: red;
}

/*below are adjustments for about page*/

#about-text {
  z-index: 0;
  margin-bottom: 25px;
}

#about-text h3 {
  font-size: 20px;
}

#about-img {
  background-size: cover;
  z-index: 0;
}

#site-header-two {
  margin-bottom: 25px;
}

#about-centering-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 80%;
    margin: auto;
}
