<footer class="site-footer">
  <div class="wrapper">
  <div class="row">
      <p class="col-sm-4">&copy; 2017 James Crooke<br/>ORCID:0000-0001-6151-5073</p>
      <ul style="float:right;" class="col-sm-8">
        <li style="float:right;" class="icon icon-mu"><img class="social" src="http://theexegesist.com/media/twitter.svg" type="image/svg+xml"/></li>
        <div class="popup"><span class="popuptext" id="myPopup">Coming Soon.</span></div>
        <li style="float:right;" class="icon icon-mu"><img class="social" src="https://theexegesist.com/media/facebook.svg" type="image/svg+xml"/></li>
        <li style="float:right;" id="social-three" class="icon"><a href="https://www.linkedin.com/in/jamesrcrooke" target="_blank"><img class="social" src="http://theexegesist.com/media/linkedin.svg" type="image/svg+xml"/></a></li>
        <li style="float:right;" id="social-four" id="icon" class="icon"><a style="all:unset;" href="https://github.com/doulosiyxy" target="_blank"><img class="social" src="http://theexegesist.com/media/github.svg" type="image/svg+xml"/></a></li>
        <li style="float:right;" id="social-five" class="icon"><a style="all:unset;" href="https://doulosiyxy.github.io/portfolio" target="_blank"><img class="social" src="http://theexegesist.com/media/jc-icon-ex.svg" type="image/svg+xml"/></a></li>
      </ul>
    </div>
  </div>
</footer>
