<footer class="site-footer">
  <div class="wrapper">
  <div class="row">
      <p class="col-sm-4">&copy; 2017 James Crooke</p>
      <ul class="col-sm-8">
        <li style="float:right;" class="footer-col-1 icon"><img src="http://theexegesist.com/media/twitter.svg" type="image/svg+xml"/></li>
        <div class="popup"><span class="popuptext" id="myPopup">This is a mock up for demonstration purposes</span></div>
        <li style="float:right;" class="footer-col-1 icon"><img src="http://theexegesist.com/media/facebook.svg" type="image/svg+xml"/></li>
        <li style="float:right;" class="footer-col-1 icon"><img src="http://theexegesist.com/media/instagram.svg" type="image/svg+xml"/></li>
      </ul>
    </div>
  </div>
</footer>
