<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--my additions-->
  <title>The Exegesist</title>
  <meta name="description" content="Bringing darkness to light, The Exegesist blog exists to explore sophisticated horror and its message about the human condition.">
  <meta property="og:title" content="The Exegesist" />
  <meta property="og:description" content="Bringing darkness to light, The Exegesist blog exists to explore sophisticated horror and its message about the human condition." />
	<meta property="og:image" content="https://dl.dropboxusercontent.com/s/5frgrinvyczzr0f/ogimage.jpg?dl=0" />
	<meta property="og:url" content="https://theexegesist/index.html" />
	<meta name="twitter:title" content="The Exegesist" />
	<meta name="twitter:description" content="Bringing darkness to light, The Exegesist blog exists to explore sophisticated horror and its message about the human condition." />
	<meta name="twitter:image" content="https://dl.dropboxusercontent.com/s/5frgrinvyczzr0f/ogimage.jpg?dl=0" />
	<meta name="twitter:card" content="summary_large_image" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://doulosiyxy.github.io/theexegesist/style.css">
  <link rel="stylesheet" type="text/css" href="https://doulosiyxy.github.io/theexegesist/css/main.css">
  <link rel="stylesheet" type="text/css" href="https://doulosiyxy.github.io/theexegesist/css/main.scss">
  <link rel="icon" type="image/png" href="https://dl.dropboxusercontent.com/s/ocgof0hfu5vkkec/bulb.png?dl=0">
<!--my additions end-->  
  <!--<link rel="stylesheet" href="{{ site.title | prepend: site.baseurl }}">-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
