<header id="site-header-two" class="site-header">
  <div class="wrapper">
     <div id="title" class="row"><h1 class="col-sm-6 title" style="opacity:1">The Exegesist</h1>
       <nav id="main-nav" class="col-sm-6 text-right">
        <a href="{{ site.url }}/pages/blog.html" style="text-decoration:none;"><div id="blog-btn">Blog</div></a>
        <a href="{{ site.url }}/pages/about.html" style="text-decoration:none;"><div id="about-btn">About</div></a>
        </nav>
     </div>
  </div>        
</header>
