<header id="site-header-two" class="site-header">

  <!--my addition-->
  <div class="wrapper">
     <div id="title" class="row"><h1 class="col-sm-6 title" style="opacity:1">The Exegesist</h1>
       <nav class="col-sm-6 text-right">
        <a href="pages/blog.html" style="text-decoration:none;"><div id="blog-btn">Blog</div></a>
        <a href="pages/about.html" style="text-decoration:none;"><div id="about-btn">About</div></a>
  <!--My addition end-->
        </nav>
     </div>
  </div>   
       
</header>
